{% extends "core/base.html" %}

{% block cards %}
<section class="container mt-5">
    <div class="row justify-content-center">
        <!-- Card Clientes -->
        <div class="col-md-3">
            <a href="{% url 'clientes:lista_clientes' %}" class="text-decoration-none">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <i class="bi bi-people fs-1 text-primary"></i>
                        <h5 class="card-title mt-3">Clientes</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card Vendas -->
        <div class="col-md-3 mx-3">
            <a href="{% url 'vendas:lista_vendas' %}" class="text-decoration-none">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <i class="bi bi-cart fs-1 text-success"></i>
                        <h5 class="card-title mt-3">Vendas</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card Estoque -->
        <div class="col-md-3">
            <a href="/estoque/" class="text-decoration-none">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <i class="bi bi-box-seam fs-1 text-warning"></i>
                        <h5 class="card-title mt-3">Estoque</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}