{% extends 'core/base.html' %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/produtos">Produtos</a></li>
<li class="breadcrumb-item active" aria-current="page">Exclusão de Produto</li>
{% endblock %}

{% block content %}
  <h2>Excluir Produto</h2>
  <p>Tem certeza que deseja excluir o produto <strong>{{ produto.nome }}</strong>?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sim, Excluir</button>
    <a href="{% url 'lista_produtos' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}