{% extends 'core/base.html' %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/clientes">Clientes</a></li>
<li class="breadcrumb-item active" aria-current="page">Exclusão de Cliente</li>
{% endblock %}

{% block content %}
  <h2>Excluir Cliente</h2>
  <p>Tem certeza que deseja excluir o cliente <strong>{{ cliente.nome }}</strong>?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sim, Excluir</button>
    <a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}